<div ng-app="betvictor">
  <div id="spinner" ng-show="showSpinner">
    <%= image_tag "loading.gif" %>
  </div>
  <div class="view-container">
    <div ng-view class="container view-frame animate-view"></div>
  </div>
</div>
