<section class="row" ng-if="sports">
  <div class="row">
  <h1 class="h3 col-md-6"><a href="#">{{sport.title}} >> {{event.title}}</a></h1>
  </div>
  <div class="row">

    <a class="well col-sm-6" ng-repeat="event in sport.events" href="#/sports/{{sport.id}}/events/{{event.id}}">
          <h4>{{outcome.description}}</h4>
    </a>
  </div>
</section>
